body, html {
    height: 100%;
    margin: 0;
  }

@font-face{
    font-family: "Cavilant";
    src: url(fonts/Cavilant.otf) format("otf");
}


.HAL-Thingy{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.HAL-Container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
   background-color:rgb(211, 187, 187)
}

.HAL-Red{
    position: absolute;

    animation-name: HALRot;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.circle{
    position: absolute;
    height: 400px;
  width: 400px;
  background-color: #ffffff;
  mix-blend-mode: multiply;
  box-shadow: 0px 20px 30px rgb(182, 180, 180);
  border-radius: 50%;
  bottom:26%;
  
}

.Ominous{
    position: absolute;
    height: 600px;
    width: 600px;
  /*background-color: #f5b743;*/
    background-image: radial-gradient(rgb(255, 202, 29) 3%, rgb(255, 195, 29) 5%, rgba(235, 27, 27, 0.521) 15%,rgb(255, 93, 29) 20%, rgba(0, 128, 0, 0) 40%);
    mix-blend-mode: soft-light;
    border-radius: 50%;
  
  animation-name: pulse;
  animation-duration: 2s;
  animation-direction:alternate;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
}

.HAL-Button{
    position: absolute;
    background-color: rgba(0, 255, 255, 0);
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

@keyframes HALRot{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes pulse{
    from{
        transform: scale(100%);
    }
    to{
        transform: scale(130%);
    }
}

.container{
    /*background-image: URL(images/filmstill.png);
    background-size: cover;*/
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: inline-block;
    
    margin: 0;
    padding:0;

    
    align-items: center;
    justify-content: space-between;

    background-image: URL(images/filmstill.png);
    background-size:cover;
    background-position-x: 50%;
}

.container-images{
    padding-top: 2%;
    position: relative;
    display: flex;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    justify-content: space-between;
    
}

.imageitem{
    transition: all 0.2s ease-in-out;
    box-shadow:0px 20px 30px rgba(36, 8, 8, 0.521);
    
    flex-basis: 1%;

}


.imageitem:hover{
    transform: scale(1.05);
}

.container > .Text-Box{
    position: relative;
    
    height: 20%;
    width: 60%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}

.container >.mobileText-Box{
    display: none;
}

.credit{
    position: relative;
    font-family: 'Krona One';
    font-weight: bold;
    color:rgb(245, 239, 239);
    align-self: flex-start;

    animation: hoverAnimation 4s infinite alternate;
    animation-timing-function: linear;
    animation-delay: 1s;
  
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    animation: hoverAnimation 6s infinite alternate;
    animation-timing-function: easy-in-out;
  
}

.twothou{
    font-family: 'Cavilant';
    font-size: 12rem;
    color:rgb(245, 239, 239);
   
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 5%;
    margin-right: 5%;
}
.aspace{
    font-family: 'Krona One';
    font-size: 4rem;
    color:rgb(245, 239, 239);
    padding-bottom: 0px;
}

.OminousGlow{
    position: absolute;
    height: 600px;
  width: 600px;
  top: 18%;
  
  /*background-color: #f5b743;*/
  background-image: radial-gradient(rgb(255, 202, 29) 3%, rgb(255, 195, 29) 5%, rgba(235, 27, 27, 0.521) 15%,rgb(255, 93, 29) 20%, rgba(0, 128, 0, 0) 40%);
  mix-blend-mode: soft-light;
  border-radius: 50%;
  
  animation-name: pulse;
  animation-duration: 2s;
  animation-direction:alternate;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
}

.Smallbutton{
    position:absolute;
    background-color: rgba(0, 255, 255, 0);
    top: 47.5vh;
    right: 49.5vw;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


@keyframes disappear{
    from{opacity:1;}
    to{opacity: 0;
    display: none;}
}

@keyframes TextOpac{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes hoverAnimation {
    0% {
      bottom: 2%;
    }
    100% {
      bottom: 10%;
    }
  }


@media screen and (max-width: 800px){

    .HAL-Socket > img{
        width: 400px;
    }
    .HAL-Red > img{
        width: 400px;
    }
    .circle {
        width: 380px;
        height: 380px;
        top: 28vh;
    }

    .container-images{
        display: none;
    }

    .container{
        width: 100%;
        height: 100%;
        background-image: url(images/filmstill.png);
        
    }

    .container >.Text-Box{
        display: none;
    }

    .container >.mobileText-Box{
        display: flex;
        flex-direction: column;
       
        justify-content: space-between;
        height: 100%;
    }

    .container >.mobileText-Box > .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .credit{
        animation: none;
        top: 4%;
    }
    .twothou{
        font-size: 11rem;
        padding-bottom: 0px;
        font-family:'Cavilant','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .aspace{
        font-size: 1.5rem;
        padding-top: 1px;
    }

    .Smallbutton{
        top: 46.5vh;
        right: 48vw;
    }
    .OminousGlow{
        width: 350px;
        height: 350px;
        top: 30%;
    }
    @keyframes hoverAnimation {
    0% {
      bottom: 2%;
    }
    100% {
      bottom: 4%;
    }
  }
}
